altgraph==0.17.4
certifi==2024.6.2
charset-normalizer==3.3.2
decorator==4.4.2
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.5.1
moviepy==1.0.3
numpy==2.0.0
packaging==24.1
pillow==10.3.0
proglog==0.1.10
pyinstaller==6.8.0
pyinstaller-hooks-contrib==2024.7
pytube==15.0.0
requests==2.32.3
tqdm==4.66.4
urllib3==2.2.2
